/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{

	text-align: center;
	font: small arial;
}

#pasek1{

	margin: 0 2px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 20px;
	float: right;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

#pasek1 a{

	color: black;
	margin: 0 3px;
	text-decoration: none;
	font: small arial;
}


#pasek1 a:hover{

	color: black;
	text-decoration:underline;
}


#logo{

	clear: both;
	padding-top: 150px;

}

#szukajka {
	display: grid;
	grid-template-columns: auto 10px 10px;
	align-items: center;
	width: 30%;
	font: small arial;
	min-width: 420px;
	height: 40px;
	margin: 25px auto 25px auto;
	border-radius: 2px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
	display: flex;
	justify-content: flex-end;
}

#szukajka:hover{

	box-shadow: 0 3px 0 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.2);

}

#szukajka input{

	font-size: 12px;
	font: small arial;
	min-width: 520px;
	height: 38px;
	border: none;
}


#szukajka a{
	padding-right: 10px;
}

#przyciski{

	margin-top: 30px;
	aligh-items: center;
}

#przyciski input{

	border: none;
	margin: 0 2px;
	padding: 10px 15px;
	background-color: #f2f2f0;
	color: #757578;
	font-weight: bold;

}

#napis, #napis a{

	margin-top: 25px;
	font: small arial;
	text-decoration: none;

}

#napis a:hover{

	text-decoration: underline;

}